* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 3rem;
    background: black;
    font-family: 'Libre Baskerville', serif;    
}

main {
    background: tomato;
    display: flex;
    flex-wrap: wrap;
}

.button {
    display: inline-block;
    padding: 0.3rem 1.2rem;
    border: 1px solid rgba(255,255,255,0.7);
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    font-family: 'Chivo', sans-serif;    
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

    .button:hover {
        background: white;
        color: #000;
    }

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.card.title {
    background-image: url(Tibor.Szasz.min.jpg);
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: purple;
}

    .card.title h1 {
        border: 6px solid #fff;
        text-align: center;
        padding: 2rem;
        color: #fff;
        font-family: 'Chivo', sans-serif;
        text-transform: uppercase;
        width: 200px;
    }

        .card.title h1:after {
            content: '';
            display: block;
            border: 3px solid #fff;
            width: 50px;
            margin: auto;
            margin-top: 1rem;
        }

.card.quote {
    padding: 3rem;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    line-height: 2.2rem;
}

    .card.quote p {
        margin-bottom: 1rem;
    }
    
    .card.quote p:before {
        content: '“';
        display: block;
        font-size: 6rem;
        line-height: 2rem;
        font-family: Georgia;
    }
   

.card.half {
    height: 400px;
    flex: 1 1 50%;
}

.card.third {
    height: 290px;
    background: limegreen;
    flex: 1 1 33%;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    line-height: 2rem;
}

.card.third.black {
    color: #fff;
    background: black;
}
    .card.third.black h1 {
        color: #000;
        position: relative;
        z-index: 1; 
        font-size: 1rem;
        line-height: 4rem;
    }

    .card.third.black h1:after {
        content: '';
        width: 70px;
        height: 70px;
        display: block;
        background: #fff;
        transform: rotate(45deg);       
        position: relative;
        z-index: -1;
        top: -66px; 
    }

.card.third.white {
    color: #000;
    background: white;
}

.card.image {
    background: url(presenter_full.jpg);
    background-position: center center;
    background-size: cover;
}

.instafx {
    box-shadow: 0 30px 100px rgba(0,0,0,0.65) inset;
    filter: sepia(0.3);
}

@media (max-width: 1092px ) {
    .card.half {
        height: 500px;
    }
}

@media (max-width: 847px ) {
    .card.half, .card.third {
        flex: 1 1 100%;
    }
}